{% extends 'store/base.html' %}
  

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>

    <script type="text/javascript">
     ymaps.ready(init);
     var myMap;

      function init(){     
         myMap = new ymaps.Map("map", {
             center: [55.76, 37.64],
                zoom: 7
           });
      }
    </script>

    <script>
        $(document).ready(function(){

        $(".btn").click(function() {

        $("#myModal").modal('show');
        });
        });
    </script>
{% endblock %}


{% block body %}

  <div class="row">

      <section class="col-lg-12">
        <div id="map" style="height: 840px; width: 100%;"></div>
      </section> 
  </div>  

{% endblock %}


