{% load staticfiles %}   


<head>
    
	

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>

    <script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){     
        myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7
        });
    }
</script>

    <script>
$(document).ready(function(){

  $(".btn").click(function() {

    $("#myModal").modal('show');
  });
});
</script>

</head>

<body>
    <div id="map" style="height:300px" class="container-fluid">
    </div></br>

    <a href="#myModal" class="btn btn-primary" data-toggle="modal">Modal view</a>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="modal-title">Создать учётную запись</h3>
                 </div>

                 <div class="modal-body">
                 <!--   <div class="container-fluid">-->
                      <div class="container">
                          <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                      {% csrf_token %}
                                    <!--  {% for field in form %}
                                         {{ field.errors }}
                                         {{ field.label_tag }}
                                         {{ field }}
                                     {% endfor %} -->
                          <div>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                          </div>
                          <div>
                            <td>{{ form.email.label_tag }}</td>
                            <td>{{ form.email }}</td>
                          </div>
                          <div>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                          </div>

                          <div class="form-group>
                              <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <input type="hidden" name="next" value="{{ next }}" />
                              </div>
                          </div>
                          </form>             


                                   <!-- <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        
                                    </div>-->
      
                                <div class="panel-footer">
                                    Уже есть учётная запись? <a href="#">Нажмите здесь</a> чтобы войти.
                                </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

   
 



</body>




