{% extends 'store/base.html' %}
  

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>

    <script type="text/javascript">
     ymaps.ready(init);
     var myMap;

      function init(){     
         myMap = new ymaps.Map("map", {
             center: [55.76, 37.64],
                zoom: 7
           });
      }
    </script>

    <script>
        $(document).ready(function(){

        $(".btn").click(function() {

        $("#myModal").modal('show');
        });
        });
    </script>
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="map" style="height:500px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if all_products %}
                <ul>
                    {% for product in all_products %}
                    <li><a href="/item/{{ product.id }}/">{{ product.productName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>There is no products in the databade</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


